<div ng-controller="relatorioClientesAtrasadosCtrl">
<div class="row">
	<div class="col-sm-12">
	  <form ng-submit="filtrarResultado()">
	    <div class="form-group row">
			<label class="col-sm-1 col-form-label">Nome:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="buscaNomeCliente" placeholder="Nome do Cliente">
			</div>
	     	<div class="col-sm-3">
				<button id="bntBuscarCliente" ng-disabled="estadoBuscando" type="submit" class="btn btn-primary" style="cursor: pointer;">
				Filtrar <span class="fa fa-search" aria-hidden="true"></span>
				</button>
	    	</div>
	    </div>
	    <div class="form-group row">
			<label for="example-date-input" class="col-2 col-form-label">Vencimento entre:</label>
			<div class="col-5">
				<input class="form-control" type="date" ng-model="dataDesde">
			</div>
			<div class="col-5">
				<input class="form-control" type="date" ng-model="dataAte">
			</div>
	    </div>
	  </form>
	</div>
</div>
<hr>
<div class="container-fluid" id="tela_principal">
	<div class="row" id='containerMensagemErro'>
		<div class="col-12">
				<div id="mensagemErroConexao" class="alert alert-danger" style="display: none;">
				    <strong>Erro!</strong> Falha na conexão com o servidor, verifique sua internet
				</div>
				<div id="mensagemErroDesconhecido" class="alert alert-danger" style="display: none;">
				    <strong>Erro!</strong> O servidor parece estar com problema
				</div>
		</div>
	</div>
  <div class="container" id='plotDados'>
	<div class="row">
		<div class="col-11">
			<img src="imgs/logo.png" alt="logo" style="width:40px; float: left;">
  			<h1 style="color: rgb(173,14,10);">SEC Publicidade</h1>
  		</div>
  		<div class="col-1">
  			<span class="fa fa-print" style="cursor: pointer; font-size: 12pt;" aria-hidden="true" ng-click="imprimir()"></span>
  		</div>
  	</div>
  	<hr>
  	<div ng-repeat="cliente in listaClientes">
  		<h4>{{cliente.nomeCliente}}</h4>
  	  <table class="table table-responsive-sm">
	    <thead>
	      <tr>
	        <th>Contato</th>
	        <th>Telefone</th>
	        <th>Dívida</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td style="width: 30%;">{{cliente.contato}}</td>
	        <td style="width: 20%;"><b>Telefone: </b>{{cliente.telefone}}<br><b>Celular: </b>{{cliente.celular}}</td>
	        <td style="width: 20%;"><b>Soma total: </b>{{cliente.somaBruto | dinheiro }}</td>
	      </tr>
	    </tbody>
	  </table>

  	  <table class="table table-responsive-sm" ng-repeat="contrato in cliente.contratos">
	    <thead>
	      <tr>
	        <th colspan="4">Contrato: {{contrato.idContrato}}. Soma da dívida: {{contrato.valorSoma | dinheiro}}</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in contrato.itens">
	        <td><b>Vencimento: </b>{{item.dataVencimento | dataBR}}</td>
	        <td><b>Nota fiscal: </b>{{item.notaFiscal}}</td>
	        <td><b>Bruto: </b>{{item.valorBruto | dinheiro}}</td>
	      </tr>
	    </tbody>
	  </table>
	  <br><hr><br>
  </div>

</div>

</div>
